<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all data</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Qura Post</h1>
    <% for(post of posts) {%>
        <div class="post">
            <h3>username :@<%= post.username %></h3>
            <h3>content :<%= post.content %></h3>
            <br />
            <a href="http://localhost:8080/post/<%= post.id %>">details</a>
            <a href="http://localhost:8080/post/<%= post.id %>/edit">edit</a>
            <form method="post" action="/post/<%= post.id %>?_method=DELETE">
                <button>delete</button>
            </form>
        </div>
    <% } %>
    
    <br />
        <a href="http://localhost:8080/post/new">Create</a>
</body>
</html>